@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.city {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    box-shadow: 0 2px 5px rgb(90, 88, 88);
    background: linear-gradient(to bottom, #81b9bf);
    color: #000000;
    width: 20%;
    height: 165px;
    padding-top: 20px;
    border-radius: 100px;
    font-family: 'Nanum Gothic', sans-serif;
}

.info {
    margin-top: 5px;
}

.container {
    display: flex;
    justify-content: center;
}